@{
    ViewData["Title"] = "RealHomes";
}

<div class="text-center">
    <h1>Welcome to RealHomes the #1 RealEstate Website</h1>
    <h3>Search Our Listings Across Many Different Cities in Ontario</h3>
    <br />
    <h5>Purchase Your Future Online, no need for upfront payment!</h5>
    <p><strong>Totally Legit!</strong></p>
    <br />
    <p>You may also add your own property, if you have a place you want to list.</p>
</div>
