@{
    ViewData["Title"] = "Legality";
}
<h1>@ViewData["Title"]</h1>

<p>This Website is not legit. It was made using ASP.net/Visual Studio in Server-Side Scripting ASP.NET COMP2084G at Lakehead University.</p>
